@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;

  --navbar-height: 4.5rem;

  --background: #f9fafb;
  --foreground: #111827;

  --card: #ffffffff;
  --card-foreground: #111827;

  --popover: #ffffff;
  --popover-foreground: #111827;

  --primary: #27b4c6;
  --primary-foreground: #ffffff;

  --secondary: #2e2e2e;
  --secondary-foreground: #ffffff;

  --accent: #ff1493;
  --accent-foreground: #111827;

  --muted: #f3f4f6;
  --muted-foreground: #6b7280;

  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #27b4c6;

  --sidebar: #f9fafb;
  --sidebar-foreground: #111827;
  --sidebar-primary: #27b4c6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ff1493;
  --sidebar-accent-foreground: #111827;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: #27b4c6;
}

.dark {
  --background: #111827;
  --foreground: #f9fafb;

  --card: #1f2937;
  --card-foreground: #f9fafb;

  --popover: #1f2937;
  --popover-foreground: #f9fafb;

  --primary: #27b4c6;
  --primary-foreground: #ffffff;

  --secondary: #e5e7eb;
  --secondary-foreground: #111827;

  --accent: #ff1493;
  --accent-foreground: #111827;

  --muted: #374151;
  --muted-foreground: #9ca3af;

  --border: #374151;
  --input: #4b5563;
  --ring: #27b4c6;

  --sidebar: #1f2937;
  --sidebar-foreground: #f9fafb;
  --sidebar-primary: #27b4c6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ff1493;
  --sidebar-accent-foreground: #111827;
  --sidebar-border: #374151;
  --sidebar-ring: #27b4c6;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

/* Scrollbar */
.scrollbar-clean {
  scrollbar-width: thin;
  scrollbar-color: #27b4c6 #f1f5f9;
}
.scrollbar-clean::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar-clean::-webkit-scrollbar-track {
  background: #f1f5f9;
}
.scrollbar-clean::-webkit-scrollbar-thumb {
  background-color: #27b4c6;
  border-radius: 8px;
}
